#stay-logged-in {
  display: inline;
  width: 26px;
}

.update-account-ui-hidden {
  display: none !important;
}

#profile-username {
  padding-right: 0.5em;
}

.admin-badge {
  margin-left: 0.5em;
}

// Make the select2 thing fit with the style of bootstrap's form controls
.select2-container,
.select2-container--default .select2-selection--single,
.select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  height: calc(2.25rem + 2px);
}

.select2-container--default
  .select2-selection--single
  .select2-selection__rendered {
  line-height: calc(2.25rem + 2px);
}

.select2-container--default .select2-selection--single {
  border: 1px solid #ced4da;
}

.show-wildcard .select2-container {
  display: block;
  position: relative;
  flex: 1 1 auto;
  width: 1% !important;
  margin-bottom: 0;
}

.show-wildcard .select2-container .selection {
  width: 100%;
}

div.input-group:not(.show-wildcard) input.form-control,
div.input-group:not(.show-wildcard) div.input-group-append {
  display: none !important;
}

.show-wildcard .select2-container--default .select2-selection--single {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.domainsel .show-wildcard .input-group {
  display: inline-flex;
}

.official-domain .badge {
  margin-left: 0.5em;
}

.needs-space {
  margin-left: 0.5em;
}

.none,
.requested,
.processing {
  display: none;
}
.state-processing .processing {
  display: block;
}
.state-none .none {
  display: block;
}
.state-requested .requested {
  display: block;
}

#datadump {
  padding: 3em 1em;
  margin: 2.5em;
  text-align: center;
  background-color: #6c757d36;
  border-radius: 4px;
}

.show-wildcard .input-group-text {
  border-radius: 0;
  border-right: none;
}

.show-wildcard .input-group {
  display: inline-flex;
}

.input-group:not(.show-wildcard) span.select2.select2-container {
  width: 100% !important;
}

.select2-dropdown {
  background-color: $input-group-addon-bg;
}

.select2-container--default .select2-results__option[aria-selected="true"] {
  background-color: darken($input-group-addon-bg, 4);
}

.select2-container--default
  .select2-results__option--highlighted[aria-selected] {
  background-color: darken($input-group-addon-bg, 6);
}

.select2-dropdown {
  border-color: $table-border-color;
}
