extends template.pug
block content
  div.indent-left
    h1.no-indent New token
    div.pair
      span Your token: 
      code#token Loading
    hr
    div.configs
      div.row
        div.col-12.col-sm-12.col-md-6.col-lg-4
          div.config
            h3 KShare Config
            p.text-muted
            | Add the following to 
            code ~/.config/KShare/uploaders/elixire.uploader
            | !
            //- We keep pre-parsed JSON here so that we can look pretty before token is set by the script
            //- This way, we won't have the page layout changing drastically once the chunk is loaded
            pre
             code.hljs-json#kshare-config
              | {
              |   
              span.hljs-attr &quot;name&quot;
              | : 
              span.hljs-string &quot;elixire&quot;
              | ,
              |   
              span.hljs-attr &quot;desc&quot;
              | : 
              span.hljs-string &quot;elixire is the future&quot;
              | ,
              |   
              span.hljs-attr &quot;target&quot;
              | : 
              span.hljs-string &quot;#{config.SERVICE_URL}/api/upload&quot;
              | ,
              |   
              span.hljs-attr &quot;format&quot;
              | : 
              span.hljs-string &quot;multipart-form-data&quot;
              | ,
              |   
              span.hljs-attr &quot;base64&quot;
              | : 
              span.hljs-literal false
              | ,
              |   
              span.hljs-attr &quot;headers&quot;
              | : {
              |     
              span.hljs-attr &quot;Authorization&quot;
              | : 
              span.hljs-string &quot;Loading&quot;
              | 
              |   },
              |   
              span.hljs-attr &quot;body&quot;
              | : [
              |     {
              |       
              span.hljs-attr &quot;__Content-Type&quot;
              | : 
              span.hljs-string &quot;/%contenttype/&quot;
              | ,
              |       
              span.hljs-attr &quot;name&quot;
              | : 
              span.hljs-string &quot;f&quot;
              | ,
              |       
              span.hljs-attr &quot;filename&quot;
              | : 
              span.hljs-string &quot;/image.%format/&quot;
              | ,
              |       
              span.hljs-attr &quot;body&quot;
              | : 
              span.hljs-string &quot;/%imagedata/&quot;
              | 
              |     }
              |   ],
              |   
              span.hljs-attr &quot;return&quot;
              | : 
              span.hljs-string &quot;.url&quot;
              | 
              | }
            div.button-pre
              a(href="#").btn.btn-primary#kshare-dl Download
        div.col-12.col-sm-12.col-md-6.col-lg-4
          div.config
            h3 ShareX Config
            p.text-muted
            | Import this config in ShareX by double clicking on the file, or if that doesn't work, going to 
            code Destinations -> Destination Settings -> Custom Uploaders -> Import
            | !
            pre
              code.hljs-json#sharex-config
               | {
               |   
               span.hljs-attr &quot;Name&quot;
               | : 
               span.hljs-string &quot;#{config.SERVICE_NAME}&quot;
               | ,
               |   
               span.hljs-attr &quot;DestinationType&quot;
               | : 
               span.hljs-string &quot;ImageUploader&quot;
               | ,
               |   
               span.hljs-attr &quot;RequestURL&quot;
               | : 
               span.hljs-string &quot;#{config.SERVICE_URL}/api/upload&quot;
               | ,
               |   
               span.hljs-attr &quot;FileFormName&quot;
               | : 
               span.hljs-string &quot;f&quot;
               | ,
               |   
               span.hljs-attr &quot;Headers&quot;
               | : {
               |     
               span.hljs-attr &quot;Authorization&quot;
               | : 
               span.hljs-string &quot;Loading&quot;
               | 
               |   },
               |   
               span.hljs-attr &quot;URL&quot;
               | : 
               span.hljs-string &quot;$json:url$&quot;
               | 
               | }
            div.button-pre
              a(href="#").btn.btn-primary#sharex-dl Download
        div.col-12.col-sm-12.col-md-6.col-lg-4
          div.config
            h3 #{config.SERVICE_NAME} Manager Config
            p.text-muted
            | Download this and run 
            code chmod +x elixiremanager.sh
            |  then check if you have all dependencies with 
            code ./elixiremanager.sh --check
            |  , make sure that they're all installed, then run it with 
            code ./elixiremanager.sh
            div.button-pre
               a(href="#").btn.btn-primary#elixire-manager-dl Download
